<ion-view view-title="Streamy">
  <div class="bar item-input-inset bar-subheader">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Filter" ng-model="term">
    </label>
  </div>
  <ion-content class="has-subheader" ion-sticky ion-sticky-class="positive">
    <ion-list ng-repeat="group in groups" ng-if="(group.shows | search: term).length > 0">
      <ion-item class="item-divider">{{ group.title }}</ion-item>
      <ion-item ng-repeat="item in group.shows | search: term" ui-sref="detail({show: item.slug})">
        {{ item.title }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
